.featured-text {
  padding: 20%;
  padding-top: 10%;
  padding-bottom: 10%;

  background-color: black;
  color: white;
  vertical-align: middle;
  text-align: center;
}

.featured-text h2 {
  margin: 0;
  font-size: 2.5rem;
}
