.featured-text {
  margin: 0;
  padding: 10%px;
  padding-left: 20%;
  padding-right: 20%;

  background-color: black;
  color: white;
  height: 21.5rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.featured-text h2 {
  margin: 0;
  font-size: 2.5rem;
}
