.banner {
  background-color: gray;
  display: flex;
  border: 2px;
  border-color: brown;
  width: 100%;
  height: 41.5rem;
}

.banner-text {
  padding: 5rem;
  padding-top: 6%;
  width: 20%;
  background-color: none;
  text-align: center;
  color: white;
}

.banner-text h1 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.banner-text h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
